In [30]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from os import listdir
from datetime import datetime, time

## Merging 12 months data in a single file

In [31]:
# df =pd.read_csv('./Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_April_2019.csv')

# files = [file for file in listdir('./Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data')]

# all_months_data = pd.DataFrame()

# for file in files:
#     df =pd.read_csv('./Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/'+file)
#     all_months_data = pd.concat([all_months_data, df])
    
# all_months_data.to_csv('All_DATA_25MAY.csv', index=False)

In [32]:
df =pd.read_csv("C:/Users/1ds/Dipti/Dipti 2/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_April_2019.csv")

files = [file for file in listdir('C:/Users/1ds/Dipti/Dipti 2/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data')]

all_months_data = pd.DataFrame()

for file in files:
    df =pd.read_csv('C:/Users/1ds/Dipti/Dipti 2/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/'+file)
    all_months_data = pd.concat([all_months_data, df])
    
all_months_data.to_csv('All_DATA_25MAY.csv', index=False)

In [33]:
all_months_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
11681,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
11682,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
11683,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
11684,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
11685,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [34]:
all_months_data.shape

(186850, 6)

In [35]:
all_months_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 186850 entries, 0 to 11685
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 10.0+ MB

## Cleaning The Data

In [36]:
all_months_data.count()

Order ID            186305
Product             186305
Quantity Ordered    186305
Price Each          186305
Order Date          186305
Purchase Address    186305
dtype: int64

In [37]:
all_months_data.isna().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [38]:
all_months_data.dropna(inplace =True)

In [39]:
all_months_data.count()

Order ID            186305
Product             186305
Quantity Ordered    186305
Price Each          186305
Order Date          186305
Purchase Address    186305
dtype: int64

In [40]:
all_months_data.isna().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [41]:
data = all_months_data
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [42]:

data.sort_values("Order ID")
data = data[data['Order ID'] != "Order ID"] #Removing the headers of the files which are treated as data

In [43]:
data[data.duplicated()] #checking for duplicate data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
31,176585,Bose SoundSport Headphones,1,99.99,04/07/19 11:31,"823 Highland St, Boston, MA 02215"
1302,177795,Apple Airpods Headphones,1,150,04/27/19 19:45,"740 14th St, Seattle, WA 98101"
1684,178158,USB-C Charging Cable,1,11.95,04/28/19 21:13,"197 Center St, San Francisco, CA 94016"
3805,180207,Apple Airpods Headphones,1,150,04/13/19 01:46,"196 7th St, Los Angeles, CA 90001"
4196,180576,Lightning Charging Cable,1,14.95,04/18/19 17:23,"431 Park St, Dallas, TX 75001"
...,...,...,...,...,...,...
9776,257530,USB-C Charging Cable,1,11.95,09/03/19 11:13,"192 Johnson St, San Francisco, CA 94016"
11009,258715,Lightning Charging Cable,1,14.95,09/15/19 16:50,"550 10th St, Portland, OR 97035"
11344,259035,27in FHD Monitor,1,149.99,09/29/19 13:52,"327 Lake St, San Francisco, CA 94016"
11618,259296,Apple Airpods Headphones,1,150,09/28/19 16:48,"894 6th St, Dallas, TX 75001"
11621,259297,Lightning Charging Cable,1,14.95,09/15/19 18:54,"138 Main St, Boston, MA 02215"

#### There are 264 rows of duplicate data.

In [44]:
data.drop_duplicates(subset='Order ID', inplace=True)

C:\Users\1ds\AppData\Local\Temp\ipykernel_9024\1813811592.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop_duplicates(subset='Order ID', inplace=True)

In [45]:
data[data.duplicated()]

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address]
Index: []

### Adding Year, Month, Year-Month and Sales Column

In [46]:
data.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [47]:
data['Order Date']

0        04/19/19 08:46
2        04/07/19 22:30
3        04/12/19 14:38
5        04/30/19 09:27
6        04/29/19 13:03
              ...
11681    09/17/19 20:56
11682    09/01/19 16:00
11683    09/23/19 07:39
11684    09/19/19 17:30
11685    09/30/19 00:18
Name: Order Date, Length: 178437, dtype: object

In [48]:
data['Order Date'].dtype

dtype('O')

In [49]:
data['Order Date']= pd.to_datetime(data['Order Date'])
data.head()

C:\Users\1ds\AppData\Local\Temp\ipykernel_9024\1816483003.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['Order Date']= pd.to_datetime(data['Order Date'])
C:\Users\1ds\AppData\Local\Temp\ipykernel_9024\1816483003.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Order Date']= pd.to_datetime(data['Order Date'])

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001"
6,176562,USB-C Charging Cable,1,11.95,2019-04-29 13:03:00,"381 Wilson St, San Francisco, CA 94016"

In [50]:
data['Order Date'].dtype

dtype('<M8[ns]')

In [51]:
data['Year'] = data['Order Date'].dt.year
data['Month'] = data['Order Date'].dt.strftime('%B')
# data['Day'] = data['Order Date'].dt.strftime('')

C:\Users\1ds\AppData\Local\Temp\ipykernel_9024\4282560752.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Year'] = data['Order Date'].dt.year
C:\Users\1ds\AppData\Local\Temp\ipykernel_9024\4282560752.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Month'] = data['Order Date'].dt.strftime('%B')

In [52]:
data['Year Month'] = data['Year'].map(str)+' '+ data['Month'].map(str)

C:\Users\1ds\AppData\Local\Temp\ipykernel_9024\2319989678.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Year Month'] = data['Year'].map(str)+' '+ data['Month'].map(str)

In [53]:
data['Quantity Ordered'] = pd.to_numeric(data['Quantity Ordered'])
data['Price Each'] = pd.to_numeric(data['Price Each'])

C:\Users\1ds\AppData\Local\Temp\ipykernel_9024\240400550.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Quantity Ordered'] = pd.to_numeric(data['Quantity Ordered'])
C:\Users\1ds\AppData\Local\Temp\ipykernel_9024\240400550.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Price Each'] = pd.to_numeric(data['Price Each'])

In [54]:

data['sales'] = data['Quantity Ordered'].map(int)*data['Price Each'].map(int)
data

C:\Users\1ds\AppData\Local\Temp\ipykernel_9024\2905834946.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sales'] = data['Quantity Ordered'].map(int)*data['Price Each'].map(int)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Year,Month,Year Month,sales
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",2019,April,2019 April,22
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",2019,April,2019 April,99
3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",2019,April,2019 April,600
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",2019,April,2019 April,11
6,176562,USB-C Charging Cable,1,11.95,2019-04-29 13:03:00,"381 Wilson St, San Francisco, CA 94016",2019,April,2019 April,11
...,...,...,...,...,...,...,...,...,...,...
11681,259353,AAA Batteries (4-pack),3,2.99,2019-09-17 20:56:00,"840 Highland St, Los Angeles, CA 90001",2019,September,2019 September,6
11682,259354,iPhone,1,700.00,2019-09-01 16:00:00,"216 Dogwood St, San Francisco, CA 94016",2019,September,2019 September,700
11683,259355,iPhone,1,700.00,2019-09-23 07:39:00,"220 12th St, San Francisco, CA 94016",2019,September,2019 September,700
11684,259356,34in Ultrawide Monitor,1,379.99,2019-09-19 17:30:00,"511 Forest St, San Francisco, CA 94016",2019,September,2019 September,379
11685,259357,USB-C Charging Cable,1,11.95,2019-09-30 00:18:00,"250 Meadow St, San Francisco, CA 94016",2019,September,2019 September,11

### Add a city Column

In [55]:
def get_city(address):
    return address.split(',')[1]

def get_state(address):
    return address.split(',')[2].split(' ')[1]



data['city'] = data['Purchase Address'].apply(lambda x: get_city(x) + ' ' + get_state(x))
# data['state'] = data['Purchase Address'].apply(lambda x: get_state(x))

C:\Users\1ds\AppData\Local\Temp\ipykernel_9024\608408746.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['city'] = data['Purchase Address'].apply(lambda x: get_city(x) + ' ' + get_state(x))

## What was the Best Month for Sales and How much was earned that Month

In [56]:
from matplotlib import rcParams
rcParams['figure.figsize'] = 12,4

In [57]:
sales_in_millions = data.groupby('Year Month')['sales'].sum().sort_values(ascending = False)/100000
round(sales_in_millions,2)

Year Month
2019 December     44.85
2019 October      36.34
2019 April        32.93
2019 November     31.06
2019 May          30.62
2019 March        27.27
2019 July         25.73
2019 June         25.06
2019 August       21.83
2019 February     21.36
2019 September    20.39
2019 January      17.66
2020 January       0.08
Name: sales, dtype: float64

In [58]:
ax = sns.barplot(data, x='sales_in_millions', y ='Year Month', estimator = 'sum',errorbar=None)
ax.bar_label(ax.containers[0], fontsize=10);
plt.title('Sales By Year Month')
plt.xlabel('Year Month')
plt.ylabel('Sales in Million ($)')
plt.show()

ValueError: Could not interpret value `sales_in_millions` for `x`. An entry with this name does not appear in `data`.

In [ ]:
data.head()

In [ ]:
#Which City has highest number of sales

In [ ]:
results = data.groupby('city')[['sales','Quantity Ordered']].sum()

In [ ]:
fig, ax1 = plt.subplots()

# Plot the sales data
bars = ax1.bar(results.index, results['sales'], color='c', alpha=0.5, label='Sales')
ax1.set_xlabel('City')
ax1.set_ylabel('Sales', color='black')
ax1.tick_params(axis='y', labelcolor='black')
ax1.bar_label(bars, labels=[f'{val/1_000_000:.2f}M' for val in results['sales']], fontsize=10, color='black')

# Create a second y-axis for Quantity Ordered
ax2 = ax1.twinx()
ax2.plot(results.index, results['Quantity Ordered'], color='blue', marker='o', label='Quantity Ordered')
ax2.set_ylabel('Quantity Ordered', color='b')
ax2.tick_params(axis='y', labelcolor='green')


# Add title and legend
plt.title('Sales and Quantity Ordered by City')
fig.tight_layout() 

plt.show()
plt.savefig('C:/Users/1ds/Dipti/Dipti 2/Pandas-Data-Science-Tasks-master/SalesAnalysis/Output/sales_by_year_month.png')

#### San Francisco has the Highest Sales accounting 8.02M

## Question 3: What time should we display advertisements to maximize likelihood of customer's buying product?

In [ ]:
data.head()

In [ ]:
data['Hour'] = data['Order Date'].dt.hour
data['Minute'] = data['Order Date'].dt.minute

In [ ]:
data.head()

In [ ]:
hours = [hour for hour, df in data.groupby('Hour')]

In [ ]:
plt.plot(hours, data.groupby(['Hour']).count())

plt.xticks(hours)
plt.grid()
plt.xlabel('hours')
plt.ylabel('Frequency of Orders')

plt.show()